body {
  color: #676a6c;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  align-items: center;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  height: inherit;
  position: absolute;
  right: 1px
}

.logo {
  width: 300px;
  position: absolute;
  right: 0px;
}

.header {
  height: 50px;
  color: white;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
